Bukkit/
work/
CraftBukkit/
Spigot/
BuildData/
apache-maven-3.6.0/
BuildTools.jar
BuildTools.log.txt
bundler/
logs/
plugins/
world/
world_nether/
world_the_end/
banned-ips.json
banned-players.json
bukkit.yml
commands.yml
eula.txt
help.yml
ops.json
permissions.yml
server.properties
spigot-1.18.1.jar
spigot.yml
usercache.json
whitelist.json
